strong.factorial{
	word-break: break-all;
}
button.copiar{
	position: absolute;
	right: .5rem;
	top: .5rem;
	background-color: transparent;
	border: none;
}
button.copiar:hover{
	border: 1px solid white;
}